<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <a href="/auth/logout">Logout</a>
  </nav>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>
