<template>
  <template v-if="auth">
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
                   <button @click="logout">Logout</button>
  </nav>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <button @click="increment">
    {{ state.count }}
  </button>
  <pre>{{ cookies.get('refreshToken') }}</pre>
  <pre>{{ auth }}</pre>
  </div>

</template>

<template v-else>
  <div class="login">
    <h1>You have to login to see app</h1>
    <form action="/auth/login" method="post">
      <label for="email">Email: </label><input type="email" name="email" id="email" placeholder="email" required />
      <label for="password">Password: </label><input type="password" name="password" id="password" required />
      <button type="submit">Submit</button>
    </form>
  </div>
</template>
</template>

<script setup>
import { reactive } from 'vue'
import HelloWorld from '@/components/HelloWorld.vue'
import { useCookies } from '@vueuse/integrations/useCookies'

const state = reactive({ count: 0 })
const cookies = useCookies()
const auth = cookies.get('refreshToken') != null

console.log(cookies.get('refreshToken'))

function logout() {
  window.location.replace('/auth/logout')
}

function increment() {
  state.count++
}
</script>
